In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [3]:
df = pandas.read_csv("./dataset/medicalcost/processed_medicalcost.csv")

NameError: name 'pandas' is not defined

In [4]:
df = pd.read_csv("./dataset/medicalcost/processed_medicalcost.csv")

In [5]:
print(df.head())

   Unnamed: 0  age     bmi  children  sex_male  sex_female  smoker_yes  \
0           0   19  27.900         0         0           1           1
1           1   18  33.770         1         1           0           0
2           2   28  33.000         3         1           0           0
3           3   33  22.705         0         1           0           0
4           4   32  28.880         0         1           0           0

   smoker_no  region_northeast  region_southwest  region_southeast  \
0          0                 0                 1                 0
1          1                 0                 0                 1
2          1                 0                 0                 1
3          1                 0                 0                 0
4          1                 0                 0                 0

   region_northwest      charges
0                 0  16884.92400
1                 0   1725.55230
2                 0   4449.46200
3                 1  21984.47061
4                 1   3866.85520

In [6]:
print(df.describe())

        Unnamed: 0          age          bmi     children     sex_male  \
count  1338.000000  1338.000000  1338.000000  1338.000000  1338.000000
mean    668.500000    39.207025    30.663397     1.094918     0.505232
std     386.391641    14.049960     6.098187     1.205493     0.500160
min       0.000000    18.000000    15.960000     0.000000     0.000000
25%     334.250000    27.000000    26.296250     0.000000     0.000000
50%     668.500000    39.000000    30.400000     1.000000     1.000000
75%    1002.750000    51.000000    34.693750     2.000000     1.000000
max    1337.000000    64.000000    53.130000     5.000000     1.000000

        sex_female   smoker_yes    smoker_no  region_northeast  \
count  1338.000000  1338.000000  1338.000000       1338.000000
mean      0.494768     0.204783     0.795217          0.242152
std       0.500160     0.403694     0.403694          0.428546
min       0.000000     0.000000     0.000000          0.000000
25%       0.000000     0.000000     1.000000          0.000000
50%       0.000000     0.000000     1.000000          0.000000
75%       1.000000     0.000000     1.000000          0.000000
max       1.000000     1.000000     1.000000          1.000000

       region_southwest  region_southeast  region_northwest       charges
count       1338.000000       1338.000000       1338.000000   1338.000000
mean           0.242900          0.272048          0.242900  13270.422265
std            0.428995          0.445181          0.428995  12110.011237
min            0.000000          0.000000          0.000000   1121.873900
25%            0.000000          0.000000          0.000000   4740.287150
50%            0.000000          0.000000          0.000000   9382.033000
75%            0.000000          1.000000          0.000000  16639.912515
max            1.000000          1.000000          1.000000  63770.428010

In [7]:
print(df.colomns.values)

AttributeError: 'DataFrame' object has no attribute 'colomns'

In [8]:
print(df.columns.values)

['Unnamed: 0' 'age' 'bmi' 'children' 'sex_male' 'sex_female' 'smoker_yes'
 'smoker_no' 'region_northeast' 'region_southwest' 'region_southeast'
 'region_northwest' 'charges']

In [9]:
df.isna().head()

,Unnamed: 0,age,bmi,children,sex_male,sex_female,smoker_yes,smoker_no,region_northeast,region_southwest,region_southeast,region_northwest,charges
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
print(df.isna().sum())

Unnamed: 0          0
age                 0
bmi                 0
children            0
sex_male            0
sex_female          0
smoker_yes          0
smoker_no           0
region_northeast    0
region_southwest    0
region_southeast    0
region_northwest    0
charges             0
dtype: int64

In [13]:
df[['age', 'charges']].groupby(['age'], as_index=False).mean().sort_values(by='charges')

    age       charges
3    21   4730.464330
8    26   6133.825309
0    18   7086.217556
20   38   8102.733674
10   28   9069.187564
14   32   9220.300291
23   41   9653.745650
1    19   9747.909335
7    25   9838.365311
4    22  10012.932802
2    20  10159.697736
13   31  10196.980573
11   29  10430.158727
6    24  10648.015962
17   35  11307.182031
16   34  11613.528121
22   40  11772.251310
21   39  11778.242945
9    27  12184.701721
18   36  12204.476138
15   33  12351.532987
5    23  12419.820040
31   49  12696.006264
12   30  12719.110358
24   42  13061.038669
40   58  13878.928112
28   46  14342.590639
30   48  14632.500445
27   45  14830.199856
38   56  15025.515837
32   50  15663.003301
33   51  15682.255867
26   44  15859.396587
35   53  16020.930755
37   55  16164.545488
39   57  16447.185250
29   47  17653.999593
19   37  18019.911877
34   52  18256.269719
36   54  18758.546475
41   59  18895.869532
44   62  19163.856573
25   43  19267.278653
45   63  19884.998461
42   60  21979.418507
43   61  22024.457609
46   64  23275.530837

In [45]:
new_list = []
one_third = (df['charges'].max() - df['charges'].min()) / 3.0
for data in df['charges']:
    if data >= df['charges'].min() and data <= df['charges'].min() + one_third:
        new_list.append(1)
    elif data <= df['charges'].min() + 2 * one_third:
        new_list.append(2)
    else:
        new_list.append(3)
df['classified_charges'] = new_list

In [15]:
df['classified_charges']

0          low
1          low
2          low
3          low
4          low
5          low
6          low
7          low
8          low
9       medium
10         low
11      medium
12         low
13         low
14      medium
15         low
16         low
17         low
18         low
19      medium
20         low
21         low
22         low
23      medium
24         low
25         low
26         low
27         low
28         low
29      medium
         ...
1308    medium
1309       low
1310       low
1311       low
1312       low
1313    medium
1314       low
1315       low
1316       low
1317       low
1318       low
1319       low
1320       low
1321    medium
1322       low
1323      high
1324       low
1325       low
1326       low
1327       low
1328    medium
1329       low
1330       low
1331       low
1332       low
1333       low
1334       low
1335       low
1336       low
1337    medium
Name: classified_charges, Length: 1338, dtype: object

In [16]:
df[['age', 'charges']].groupby(['age'], as_index=False).mean().sort_values(by='charges')

    age       charges
3    21   4730.464330
8    26   6133.825309
0    18   7086.217556
20   38   8102.733674
10   28   9069.187564
14   32   9220.300291
23   41   9653.745650
1    19   9747.909335
7    25   9838.365311
4    22  10012.932802
2    20  10159.697736
13   31  10196.980573
11   29  10430.158727
6    24  10648.015962
17   35  11307.182031
16   34  11613.528121
22   40  11772.251310
21   39  11778.242945
9    27  12184.701721
18   36  12204.476138
15   33  12351.532987
5    23  12419.820040
31   49  12696.006264
12   30  12719.110358
24   42  13061.038669
40   58  13878.928112
28   46  14342.590639
30   48  14632.500445
27   45  14830.199856
38   56  15025.515837
32   50  15663.003301
33   51  15682.255867
26   44  15859.396587
35   53  16020.930755
37   55  16164.545488
39   57  16447.185250
29   47  17653.999593
19   37  18019.911877
34   52  18256.269719
36   54  18758.546475
41   59  18895.869532
44   62  19163.856573
25   43  19267.278653
45   63  19884.998461
42   60  21979.418507
43   61  22024.457609
46   64  23275.530837

In [17]:
df[['age', 'charges']].groupby(['age'], as_index=False).mean().sort_values(by='classified_charges')

KeyError: 'classified_charges'

In [20]:
df['classified_charges']

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       2
10      1
11      2
12      1
13      1
14      2
15      1
16      1
17      1
18      1
19      2
20      1
21      1
22      1
23      2
24      1
25      1
26      1
27      1
28      1
29      2
       ..
1308    2
1309    1
1310    1
1311    1
1312    1
1313    2
1314    1
1315    1
1316    1
1317    1
1318    1
1319    1
1320    1
1321    2
1322    1
1323    3
1324    1
1325    1
1326    1
1327    1
1328    2
1329    1
1330    1
1331    1
1332    1
1333    1
1334    1
1335    1
1336    1
1337    2
Name: classified_charges, Length: 1338, dtype: int64

In [22]:
df[['age', 'classified_charges']].groupby(['age'], as_index=False).mean().sort_values(by='classified_charges')

    age  classified_charges
3    21            1.035714
20   38            1.040000
8    26            1.071429
23   41            1.074074
14   32            1.076923
0    18            1.086957
11   29            1.111111
21   39            1.120000
40   58            1.120000
17   35            1.120000
7    25            1.142857
9    27            1.142857
10   28            1.142857
12   30            1.148148
13   31            1.148148
22   40            1.148148
15   33            1.153846
2    20            1.172414
31   49            1.178571
6    24            1.178571
24   42            1.185185
1    19            1.191176
16   34            1.192308
37   55            1.192308
18   36            1.200000
27   45            1.206897
28   46            1.206897
5    23            1.214286
38   56            1.230769
30   48            1.241379
32   50            1.241379
4    22            1.250000
39   57            1.269231
35   53            1.285714
25   43            1.296296
19   37            1.320000
41   59            1.320000
26   44            1.333333
33   51            1.344828
45   63            1.347826
44   62            1.347826
36   54            1.392857
29   47            1.413793
34   52            1.448276
42   60            1.521739
43   61            1.521739
46   64            1.545455

In [24]:
df.drop(['Unnamed: 0'], axis=1)

,age,bmi,children,sex_male,sex_female,smoker_yes,smoker_no,region_northeast,region_southwest,region_southeast,region_northwest,charges,classified_charges
0,19,27.900,0,0,1,1,0,0,1,0,0,16884.92400,1
1,18,33.770,1,1,0,0,1,0,0,1,0,1725.55230,1
2,28,33.000,3,1,0,0,1,0,0,1,0,4449.46200,1
3,33,22.705,0,1,0,0,1,0,0,0,1,21984.47061,1
4,32,28.880,0,1,0,0,1,0,0,0,1,3866.85520,1
5,31,25.740,0,0,1,0,1,0,0,1,0,3756.62160,1
6,46,33.440,1,0,1,0,1,0,0,1,0,8240.58960,1
7,37,27.740,3,0,1,0,1,0,0,0,1,7281.50560,1
8,37,29.830,2,1,0,0,1,1,0,0,0,6406.41070,1
9,60,25.840,0,0,1,0,1,0,0,0,1,28923.13692,2
10,25,26.220,0,1,0,0,1,1,0,0,0,2721.32080,1
11,62,26.290,0,0,1,1,0,0,0,1,0,27808.72510,2
12,23,34.400,0,1,0,0,1,0,1,0,0,1826.84300,1
13,56,39.820,0,0,1,0,1,0,0,1,0,11090.71780,1
14,27,42.130,0,1,0,1,0,0,0,1,0,39611.75770,2
15,19,24.600,1,1,0,0,1,0,1,0,0,1837.23700,1
16,52,30.780,1,0,1,0,1,1,0,0,0,10797.33620,1
17,23,23.845,0,1,0,0,1,1,0,0,0,2395.17155,1
18,56,40.300,0,1,0,0,1,0,1,0,0,10602.38500,1
19,30,35.300,0,1,0,1,0,0,1,0,0,36837.46700,2
20,60,36.005,0,0,1,0,1,1,0,0,0,13228.84695,1
21,30,32.400,1,0,1,0,1,0,1,0,0,4149.73600,1
22,18,34.100,0,1,0,0,1,0,0,1,0,1137.01100,1
23,34,31.920,1,0,1,1,0,1,0,0,0,37701.87680,2
24,37,28.025,2,1,0,0,1,0,0,0,1,6203.90175,1
25,59,27.720,3,0,1,0,1,0,0,1,0,14001.13380,1
26,63,23.085,0,0,1,0,1,1,0,0,0,14451.83515,1
27,55,32.775,2,0,1,0,1,0,0,0,1,12268.63225,1
28,23,17.385,1,1,0,0,1,0,0,0,1,2775.19215,1
29,31,36.300,2,1,0,1,0,0,1,0,0,38711.00000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,25,30.200,0,0,1,1,0,0,1,0,0,33900.65300,2
1309,41,32.200,2,1,0,0,1,0,1,0,0,6875.96100,1
1310,42,26.315,1,1,0,0,1,0,0,0,1,6940.90985,1
1311,33,26.695,0,0,1,0,1,0,0,0,1,4571.41305,1
1312,34,42.900,1,1,0,0,1,0,1,0,0,4536.25900,1
1313,19,34.700,2,0,1,1,0,0,1,0,0,36397.57600,2
1314,30,23.655,3,0,1,1,0,0,0,0,1,18765.87545,1
1315,18,28.310,1,1,0,0,1,1,0,0,0,11272.33139,1
1316,19,20.600,0,0,1,0,1,0,1,0,0,1731.67700,1
1317,18,53.130,0,1,0,0,1,0,0,1,0,1163.46270,1
1318,35,39.710,4,1,0,0,1,1,0,0,0,19496.71917,1
1319,39,26.315,2,0,1,0,1,0,0,0,1,7201.70085,1
1320,31,31.065,3,1,0,0,1,0,0,0,1,5425.02335,1
1321,62,26.695,0,1,0,1,0,1,0,0,0,28101.33305,2
1322,62,38.830,0,1,0,0,1,0,0,1,0,12981.34570,1
1323,42,40.370,2,0,1,1,0,0,0,1,0,43896.37630,3
1324,31,25.935,1,1,0,0,1,0,0,0,1,4239.89265,1
1325,61,33.535,0,1,0,0,1,1,0,0,0,13143.33665,1
1326,42,32.870,0,0,1,0,1,1,0,0,0,7050.02130,1
1327,51,30.030,1,1,0,0,1,0,0,1,0,9377.90470,1
1328,23,24.225,2,0,1,0,1,1,0,0,0,22395.74424,2
1329,52,38.600,2,1,0,0,1,0,1,0,0,10325.20600,1
1330,57,25.740,2,0,1,0,1,0,0,1,0,12629.16560,1
1331,23,33.400,0,0,1,0,1,0,1,0,0,10795.93733,1
1332,52,44.700,3,0,1,0,1,0,1,0,0,11411.68500,1
1333,50,30.970,3,1,0,0,1,0,0,0,1,10600.54830,1
1334,18,31.920,0,0,1,0,1,1,0,0,0,2205.98080,1
1335,18,36.850,0,0,1,0,1,0,0,1,0,1629.83350,1
1336,21,25.800,0,0,1,0,1,0,1,0,0,2007.94500,1
1337,61,29.070,0,0,1,1,0,0,0,0,1,29141.36030,2

In [26]:
df = pd.read_csv('./dataset/medicalcost/insurance.csv')

In [27]:
print(df.isna().sum)

<bound method DataFrame.sum of         age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
5     False  False  False     False   False   False    False
6     False  False  False     False   False   False    False
7     False  False  False     False   False   False    False
8     False  False  False     False   False   False    False
9     False  False  False     False   False   False    False
10    False  False  False     False   False   False    False
11    False  False  False     False   False   False    False
12    False  False  False     False   False   False    False
13    False  False  False     False   False   False    False
14    False  False  False     False   False   False    False
15    False  False  False     False   False   False    False
16    False  False  False     False   False   False    False
17    False  False  False     False   False   False    False
18    False  False  False     False   False   False    False
19    False  False  False     False   False   False    False
20    False  False  False     False   False   False    False
21    False  False  False     False   False   False    False
22    False  False  False     False   False   False    False
23    False  False  False     False   False   False    False
24    False  False  False     False   False   False    False
25    False  False  False     False   False   False    False
26    False  False  False     False   False   False    False
27    False  False  False     False   False   False    False
28    False  False  False     False   False   False    False
29    False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1308  False  False  False     False   False   False    False
1309  False  False  False     False   False   False    False
1310  False  False  False     False   False   False    False
1311  False  False  False     False   False   False    False
1312  False  False  False     False   False   False    False
1313  False  False  False     False   False   False    False
1314  False  False  False     False   False   False    False
1315  False  False  False     False   False   False    False
1316  False  False  False     False   False   False    False
1317  False  False  False     False   False   False    False
1318  False  False  False     False   False   False    False
1319  False  False  False     False   False   False    False
1320  False  False  False     False   False   False    False
1321  False  False  False     False   False   False    False
1322  False  False  False     False   False   False    False
1323  False  False  False     False   False   False    False
1324  False  False  False     False   False   False    False
1325  False  False  False     False   False   False    False
1326  False  False  False     False   False   False    False
1327  False  False  False     False   False   False    False
1328  False  False  False     False   False   False    False
1329  False  False  False     False   False   False    False
1330  False  False  False     False   False   False    False
1331  False  False  False     False   False   False    False
1332  False  False  False     False   False   False    False
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]>

In [28]:
df.isna().sum

<bound method DataFrame.sum of         age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
5     False  False  False     False   False   False    False
6     False  False  False     False   False   False    False
7     False  False  False     False   False   False    False
8     False  False  False     False   False   False    False
9     False  False  False     False   False   False    False
10    False  False  False     False   False   False    False
11    False  False  False     False   False   False    False
12    False  False  False     False   False   False    False
13    False  False  False     False   False   False    False
14    False  False  False     False   False   False    False
15    False  False  False     False   False   False    False
16    False  False  False     False   False   False    False
17    False  False  False     False   False   False    False
18    False  False  False     False   False   False    False
19    False  False  False     False   False   False    False
20    False  False  False     False   False   False    False
21    False  False  False     False   False   False    False
22    False  False  False     False   False   False    False
23    False  False  False     False   False   False    False
24    False  False  False     False   False   False    False
25    False  False  False     False   False   False    False
26    False  False  False     False   False   False    False
27    False  False  False     False   False   False    False
28    False  False  False     False   False   False    False
29    False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1308  False  False  False     False   False   False    False
1309  False  False  False     False   False   False    False
1310  False  False  False     False   False   False    False
1311  False  False  False     False   False   False    False
1312  False  False  False     False   False   False    False
1313  False  False  False     False   False   False    False
1314  False  False  False     False   False   False    False
1315  False  False  False     False   False   False    False
1316  False  False  False     False   False   False    False
1317  False  False  False     False   False   False    False
1318  False  False  False     False   False   False    False
1319  False  False  False     False   False   False    False
1320  False  False  False     False   False   False    False
1321  False  False  False     False   False   False    False
1322  False  False  False     False   False   False    False
1323  False  False  False     False   False   False    False
1324  False  False  False     False   False   False    False
1325  False  False  False     False   False   False    False
1326  False  False  False     False   False   False    False
1327  False  False  False     False   False   False    False
1328  False  False  False     False   False   False    False
1329  False  False  False     False   False   False    False
1330  False  False  False     False   False   False    False
1331  False  False  False     False   False   False    False
1332  False  False  False     False   False   False    False
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]>

In [29]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [31]:
labelEncoder = LabelEncoder()
labelEncoder.fit(df['sex'])
df['sex'] = labelEncoder.transform(df['sex'])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null int64
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null object
region      1338 non-null object
charges     1338 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 73.2+ KB

In [33]:
labelEncoder = LabelEncoder()
labelEncoder.fit(df['smoker'])
df['smoker'] = labelEncoder.transform(df['smoker'])

In [34]:
df

      age  sex     bmi  children  smoker     region      charges
0      19    0  27.900         0       1  southwest  16884.92400
1      18    1  33.770         1       0  southeast   1725.55230
2      28    1  33.000         3       0  southeast   4449.46200
3      33    1  22.705         0       0  northwest  21984.47061
4      32    1  28.880         0       0  northwest   3866.85520
5      31    0  25.740         0       0  southeast   3756.62160
6      46    0  33.440         1       0  southeast   8240.58960
7      37    0  27.740         3       0  northwest   7281.50560
8      37    1  29.830         2       0  northeast   6406.41070
9      60    0  25.840         0       0  northwest  28923.13692
10     25    1  26.220         0       0  northeast   2721.32080
11     62    0  26.290         0       1  southeast  27808.72510
12     23    1  34.400         0       0  southwest   1826.84300
13     56    0  39.820         0       0  southeast  11090.71780
14     27    1  42.130         0       1  southeast  39611.75770
15     19    1  24.600         1       0  southwest   1837.23700
16     52    0  30.780         1       0  northeast  10797.33620
17     23    1  23.845         0       0  northeast   2395.17155
18     56    1  40.300         0       0  southwest  10602.38500
19     30    1  35.300         0       1  southwest  36837.46700
20     60    0  36.005         0       0  northeast  13228.84695
21     30    0  32.400         1       0  southwest   4149.73600
22     18    1  34.100         0       0  southeast   1137.01100
23     34    0  31.920         1       1  northeast  37701.87680
24     37    1  28.025         2       0  northwest   6203.90175
25     59    0  27.720         3       0  southeast  14001.13380
26     63    0  23.085         0       0  northeast  14451.83515
27     55    0  32.775         2       0  northwest  12268.63225
28     23    1  17.385         1       0  northwest   2775.19215
29     31    1  36.300         2       1  southwest  38711.00000
...   ...  ...     ...       ...     ...        ...          ...
1308   25    0  30.200         0       1  southwest  33900.65300
1309   41    1  32.200         2       0  southwest   6875.96100
1310   42    1  26.315         1       0  northwest   6940.90985
1311   33    0  26.695         0       0  northwest   4571.41305
1312   34    1  42.900         1       0  southwest   4536.25900
1313   19    0  34.700         2       1  southwest  36397.57600
1314   30    0  23.655         3       1  northwest  18765.87545
1315   18    1  28.310         1       0  northeast  11272.33139
1316   19    0  20.600         0       0  southwest   1731.67700
1317   18    1  53.130         0       0  southeast   1163.46270
1318   35    1  39.710         4       0  northeast  19496.71917
1319   39    0  26.315         2       0  northwest   7201.70085
1320   31    1  31.065         3       0  northwest   5425.02335
1321   62    1  26.695         0       1  northeast  28101.33305
1322   62    1  38.830         0       0  southeast  12981.34570
1323   42    0  40.370         2       1  southeast  43896.37630
1324   31    1  25.935         1       0  northwest   4239.89265
1325   61    1  33.535         0       0  northeast  13143.33665
1326   42    0  32.870         0       0  northeast   7050.02130
1327   51    1  30.030         1       0  southeast   9377.90470
1328   23    0  24.225         2       0  northeast  22395.74424
1329   52    1  38.600         2       0  southwest  10325.20600
1330   57    0  25.740         2       0  southeast  12629.16560
1331   23    0  33.400         0       0  southwest  10795.93733
1332   52    0  44.700         3       0  southwest  11411.68500
1333   50    1  30.970         3       0  northwest  10600.54830
1334   18    0  31.920         0       0  northeast   2205.98080
1335   18    0  36.850         0       0  southeast   1629.83350
1336   21    0  25.800         0       0  southwest   2007.94500
1337   61    0  29.070         0       1  northwest  29141.36030

[1338 rows x 7 columns]

In [35]:
labelEncoder = LabelEncoder()
labelEncoder.fit(df['region'])
df['region'] = labelEncoder.transform(df['region'])

In [36]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
5      31    0  25.740         0       0       2   3756.62160
6      46    0  33.440         1       0       2   8240.58960
7      37    0  27.740         3       0       1   7281.50560
8      37    1  29.830         2       0       0   6406.41070
9      60    0  25.840         0       0       1  28923.13692
10     25    1  26.220         0       0       0   2721.32080
11     62    0  26.290         0       1       2  27808.72510
12     23    1  34.400         0       0       3   1826.84300
13     56    0  39.820         0       0       2  11090.71780
14     27    1  42.130         0       1       2  39611.75770
15     19    1  24.600         1       0       3   1837.23700
16     52    0  30.780         1       0       0  10797.33620
17     23    1  23.845         0       0       0   2395.17155
18     56    1  40.300         0       0       3  10602.38500
19     30    1  35.300         0       1       3  36837.46700
20     60    0  36.005         0       0       0  13228.84695
21     30    0  32.400         1       0       3   4149.73600
22     18    1  34.100         0       0       2   1137.01100
23     34    0  31.920         1       1       0  37701.87680
24     37    1  28.025         2       0       1   6203.90175
25     59    0  27.720         3       0       2  14001.13380
26     63    0  23.085         0       0       0  14451.83515
27     55    0  32.775         2       0       1  12268.63225
28     23    1  17.385         1       0       1   2775.19215
29     31    1  36.300         2       1       3  38711.00000
...   ...  ...     ...       ...     ...     ...          ...
1308   25    0  30.200         0       1       3  33900.65300
1309   41    1  32.200         2       0       3   6875.96100
1310   42    1  26.315         1       0       1   6940.90985
1311   33    0  26.695         0       0       1   4571.41305
1312   34    1  42.900         1       0       3   4536.25900
1313   19    0  34.700         2       1       3  36397.57600
1314   30    0  23.655         3       1       1  18765.87545
1315   18    1  28.310         1       0       0  11272.33139
1316   19    0  20.600         0       0       3   1731.67700
1317   18    1  53.130         0       0       2   1163.46270
1318   35    1  39.710         4       0       0  19496.71917
1319   39    0  26.315         2       0       1   7201.70085
1320   31    1  31.065         3       0       1   5425.02335
1321   62    1  26.695         0       1       0  28101.33305
1322   62    1  38.830         0       0       2  12981.34570
1323   42    0  40.370         2       1       2  43896.37630
1324   31    1  25.935         1       0       1   4239.89265
1325   61    1  33.535         0       0       0  13143.33665
1326   42    0  32.870         0       0       0   7050.02130
1327   51    1  30.030         1       0       2   9377.90470
1328   23    0  24.225         2       0       0  22395.74424
1329   52    1  38.600         2       0       3  10325.20600
1330   57    0  25.740         2       0       2  12629.16560
1331   23    0  33.400         0       0       3  10795.93733
1332   52    0  44.700         3       0       3  11411.68500
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null int64
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null int64
region      1338 non-null int64
charges     1338 non-null float64
dtypes: float64(2), int64(5)
memory usage: 73.2 KB

In [47]:
X = np.array(df.drop(['classified_charges'], 1).astype(float))

In [87]:
kmeans = KMeans(n_clusters=3, max_iter=50000)
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=50000,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [60]:
y = np.array(df['classified_charges'])

In [88]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = kmeans.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.7301943198804185

In [46]:
df

,age,sex,bmi,children,smoker,region,charges,classified_charges
0,19,0,27.900,0,1,3,16884.92400,1
1,18,1,33.770,1,0,2,1725.55230,1
2,28,1,33.000,3,0,2,4449.46200,1
3,33,1,22.705,0,0,1,21984.47061,1
4,32,1,28.880,0,0,1,3866.85520,1
5,31,0,25.740,0,0,2,3756.62160,1
6,46,0,33.440,1,0,2,8240.58960,1
7,37,0,27.740,3,0,1,7281.50560,1
8,37,1,29.830,2,0,0,6406.41070,1
9,60,0,25.840,0,0,1,28923.13692,2
10,25,1,26.220,0,0,0,2721.32080,1
11,62,0,26.290,0,1,2,27808.72510,2
12,23,1,34.400,0,0,3,1826.84300,1
13,56,0,39.820,0,0,2,11090.71780,1
14,27,1,42.130,0,1,2,39611.75770,2
15,19,1,24.600,1,0,3,1837.23700,1
16,52,0,30.780,1,0,0,10797.33620,1
17,23,1,23.845,0,0,0,2395.17155,1
18,56,1,40.300,0,0,3,10602.38500,1
19,30,1,35.300,0,1,3,36837.46700,2
20,60,0,36.005,0,0,0,13228.84695,1
21,30,0,32.400,1,0,3,4149.73600,1
22,18,1,34.100,0,0,2,1137.01100,1
23,34,0,31.920,1,1,0,37701.87680,2
24,37,1,28.025,2,0,1,6203.90175,1
25,59,0,27.720,3,0,2,14001.13380,1
26,63,0,23.085,0,0,0,14451.83515,1
27,55,0,32.775,2,0,1,12268.63225,1
28,23,1,17.385,1,0,1,2775.19215,1
29,31,1,36.300,2,1,3,38711.00000,2
...,...,...,...,...,...,...,...,...
1308,25,0,30.200,0,1,3,33900.65300,2
1309,41,1,32.200,2,0,3,6875.96100,1
1310,42,1,26.315,1,0,1,6940.90985,1
1311,33,0,26.695,0,0,1,4571.41305,1
1312,34,1,42.900,1,0,3,4536.25900,1
1313,19,0,34.700,2,1,3,36397.57600,2
1314,30,0,23.655,3,1,1,18765.87545,1
1315,18,1,28.310,1,0,0,11272.33139,1
1316,19,0,20.600,0,0,3,1731.67700,1
1317,18,1,53.130,0,0,2,1163.46270,1
1318,35,1,39.710,4,0,0,19496.71917,1
1319,39,0,26.315,2,0,1,7201.70085,1
1320,31,1,31.065,3,0,1,5425.02335,1
1321,62,1,26.695,0,1,0,28101.33305,2
1322,62,1,38.830,0,0,2,12981.34570,1
1323,42,0,40.370,2,1,2,43896.37630,3
1324,31,1,25.935,1,0,1,4239.89265,1
1325,61,1,33.535,0,0,0,13143.33665,1
1326,42,0,32.870,0,0,0,7050.02130,1
1327,51,1,30.030,1,0,2,9377.90470,1
1328,23,0,24.225,2,0,0,22395.74424,2
1329,52,1,38.600,2,0,3,10325.20600,1
1330,57,0,25.740,2,0,2,12629.16560,1
1331,23,0,33.400,0,0,3,10795.93733,1
1332,52,0,44.700,3,0,3,11411.68500,1
1333,50,1,30.970,3,0,1,10600.54830,1
1334,18,0,31.920,0,0,0,2205.98080,1
1335,18,0,36.850,0,0,2,1629.83350,1
1336,21,0,25.800,0,0,3,2007.94500,1
1337,61,0,29.070,0,1,1,29141.36030,2

In [89]:
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

In [90]:
X

array([[1.90000000e+01, 0.00000000e+00, 2.79000000e+01, ...,
        1.00000000e+00, 3.00000000e+00, 1.68849240e+04],
       [1.80000000e+01, 1.00000000e+00, 3.37700000e+01, ...,
        0.00000000e+00, 2.00000000e+00, 1.72555230e+03],
       [2.80000000e+01, 1.00000000e+00, 3.30000000e+01, ...,
        0.00000000e+00, 2.00000000e+00, 4.44946200e+03],
       ...,
       [1.80000000e+01, 0.00000000e+00, 3.68500000e+01, ...,
        0.00000000e+00, 2.00000000e+00, 1.62983350e+03],
       [2.10000000e+01, 0.00000000e+00, 2.58000000e+01, ...,
        0.00000000e+00, 3.00000000e+00, 2.00794500e+03],
       [6.10000000e+01, 0.00000000e+00, 2.90700000e+01, ...,
        1.00000000e+00, 1.00000000e+00, 2.91413603e+04]])

In [94]:
kmeans.fit(X_scaled)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=50000,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [95]:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = kmeans.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.0